@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/chonsize.css">
</head>
<body class="vsc-initialized" data-new-gr-c-s-check-loaded="14.1094.0" data-gr-ext-installed="">
    <p style="color:rgb(51, 102, 255); font-size:16px;">Quý khách vui lòng thực hiện theo các bước sau để chọn size chính xác nhất!</p>
    <h3>Bước 1: Đo chiều dài chân</h3>
    <p>Quý khách đo chính xác chiều dài chân theo hướng dẫn hình dưới</p>
    <p>
        <img src="~/images/home/chonsize.png" alt="Cách đo chân chọn size giày" width="100%">
    </p>
    <h3>Bước 2: Áp dụng công thức tìm size</h3>
    <p style="color:rgb(51, 102, 255);font-size: 20px;font-weight: bold;">Size giày = Chiều dài chân + 1cm</p>
    <p>
        <strong>Ví dụ:</strong> Chiều dài chân đo được ở <strong>bước 1</strong> là <strong>25cm</strong>, thì size giày của bạn sẽ là <strong>26cm</strong>, chiếu theo bảng size thì bạn đi size <strong>41 EUR</strong>
    </p>
    <h3>Bước 3: Tìm size</h3>
    <p>Bảng size giày <strong>NIKE</strong></p>
    <p>* Cột <strong>CM</strong>: Là chiều dài bạn tính được ở <strong>bước 2</strong></p>
    <p>* Size bạn cần tìm nằm ở cột <strong>EUR</strong></p>

    <table class="sizeChart nike">
        <thead>
            <tr>
                <th>CM</th>
                <th>EUR</th>
                <th>UK</th>
                <th>US MEN</th>
                <th>US WOMEN</th>
            </tr>
        </thead>
        <!-- top header -->
        <tbody>
            <tr>
                <td>20</td>
                <td>32.5</td>
                <td>0.5</td>
                <td>1</td>
                <td>2.5</td>
            </tr>
            <tr>
                <td>20.5</td>
                <td>33</td>
                <td>1</td>
                <td>1.5</td>
                <td>3</td>


            </tr>
            <tr>
                <td>21</td>
                <td>33.5</td>
                <td>1.5</td>
                <td>2</td>
                <td>3.5</td>
            </tr>
            <tr>
                <td>21.5</td>
                <td>34</td>
                <td>2</td>
                <td>2.5</td>
                <td>4</td>
            </tr>
            <tr>
                <td>22</td>
                <td>35</td>
                <td>2.5</td>
                <td>3</td>
                <td>4.5</td>
            </tr>
            <tr>
                <td>22.5</td>
                <td>35.5</td>
                <td>3</td>
                <td>3.5</td>
                <td>5</td>

            </tr>
            <tr>
                <td>23</td>
                <td>36</td>
                <td>3.5</td>
                <td>4</td>
                <td>5.5</td>
            </tr>
            <tr>
                <td>23.5*</td>
                <td>36.5</td>
                <td>4</td>
                <td>4.5</td>
                <td>6</td>

            </tr>
            <tr>
                <td>23.5*</td>
                <td>37.5</td>
                <td>4.5</td>
                <td>5</td>
                <td>6.5</td>
            </tr>
            <tr>
                <td>24*</td>
                <td>38</td>
                <td>5</td>

                <td>5.5</td>
                <td>7</td>

            </tr>
            <tr>
                <td>24*</td>
                <td>38.5</td>
                <td>5.5</td>
                <td>6</td>
                <td>7.5</td>

            </tr>
            <tr>
                <td>24.5</td>
                <td>39</td>
                <td>6*</td>
                <td>6.5</td>
                <td>8</td>
            </tr>
            <tr>
                <td>25</td>
                <td>40</td>
                <td>6*</td>
                <td>7</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td>25.5</td>
                <td>40.5</td>
                <td>6.5</td>

                <td>7.5</td>
                <td>9</td>

            </tr>
            <tr>
                <td>26</td>
                <td>41</td>
                <td>7</td>

                <td>8</td>
                <td>9.5</td>

            </tr>
            <tr>
                <td>26.5</td>
                <td>42</td>
                <td>7.5</td>

                <td>8.5</td>
                <td>10</td>

            </tr>
            <tr>
                <td>27</td>
                <td>42.5</td>
                <td>8</td>
                <td>9</td>
                <td>10.5</td>
            </tr>
            <tr>
                <td>27.5</td>
                <td>43</td>
                <td>8.5</td>

                <td>9.5</td>
                <td>11</td>

            </tr>
            <tr>
                <td>28</td>
                <td>44</td>
                <td>9</td>

                <td>10</td>
                <td>11.5</td>

            </tr>
            <tr>
                <td>28.5</td>
                <td>44.5</td>
                <td>9.5</td>

                <td>10.5</td>
                <td>12</td>

            </tr>
            <tr>
                <td>29</td>
                <td>45</td>
                <td>10</td>
                <td>11</td>
                <td>12.5</td>
            </tr>
            <tr>
                <td>29.5</td>
                <td>45.5</td>
                <td>10.5</td>

                <td>11.5</td>
                <td>13</td>

            </tr>
            <tr>
                <td>30</td>
                <td>46</td>
                <td>11</td>

                <td>12</td>
                <td>13.5</td>

            </tr>
            <tr>
                <td>30.5</td>
                <td>47</td>
                <td>11.5</td>

                <td>12.5</td>
                <td>14</td>

            </tr>
            <tr>
                <td>31</td>
                <td>47.5</td>
                <td>12</td>

                <td>13</td>
                <td>14.5</td>

            </tr>
            <tr>
                <td>31.5</td>
                <td>48</td>
                <td>12.5</td>

                <td>13.5</td>
                <td>15</td>

            </tr>
            <tr>
                <td>32</td>
                <td>48.5</td>
                <td>13</td>

                <td>14</td>
                <td>15.5</td>

            </tr>
            <tr>
                <td>32.5</td>
                <td>49</td>
                <td>13.5</td>
                <td>14.5</td>
                <td>16</td>
            </tr>
        </tbody>
    </table>
    <h3 style="color:red">LƯU Ý: Form chân thon và bè</h3>
    <p>Đối với những người chân thon, gang bàn chân nhỏ và gầy, việc chọn mua giày bóng đá chính hãng khá dễ dàng vì chỉ cần căn cứ vào chiều dài.</p>
    <p>Nhưng với những người chân bè, gang bàn chân to và dầy, cần chú ý đến form đôi giày mình muốn mua. Về thiết kế thì các mẫu giày Form tốc độ sẽ tương đối ôm và bó bề ngang như NIKE MERCURIAL, ADIDAS X thế nên Form chân bè bạn có thể chọn lên 1 Size để cảm thấy thoải mái hơn. Còn những mẫu giày Form kỹ thuật, như NIKE TIEMPO, PHANTOM VSN, PHANTOM VENOM, MAGISTA... hay ADIDAS NEMEZIZ, COPA, PREDATOR, PUMA ONE, PUMA FUTURE, MIZUNO...tương đối thoải mái và phù hợp hơn với những bàn chân bè.</p>
</body>
</html>