@if(TempData["success"] != null){
<div class="alert alert-success notification" role="alert">
	@TempData["success"];
</div>
}
@if(TempData["error"] != null){
<div class="alert alert-danger notification" role="alert">
	@TempData["error"];
	</div>
}